var form = $('#question_form' + '<%= @question.id %>');
var target = $('#question-' + <%= @question.id %> + ' ' + '.question-rendered');
var message, color;
<% if @question.errors.present? %>
color = 'red';

<% @question.errors.each do |field, msg| %>
message = "<%= j msg %>";
alertFunc(message, color);
<% end %>

<% else %>

// refresh question
  $(target).html("<%= j render 'question_l_line' %></div>");

  message = "<%=j flash[:success] %>";
  color = 'green';
  alertFunc(message, color);

//hide form
  $('#question_form-edit-wrapper').toggleClass('hidden');

//remove alert
  $("form .alert").remove();

  ItemToggle($('.script-item-toggle'));

<% end %>

