var form = $('#question_form' + '<%= @question.id %>');
var target = $('#question-' + <%= @question.id %> + ' ' + '.question-rendered');

<% if @question.errors.present? %>
  $("form .alert").remove();
  form.prepend('<%= j render 'layouts/shared/error_form', object: @question %>');
<% else %>

// refresh question
  $(target).html("<%= j render 'question_l_line' %></div>");

  $("#headerFlash").html("<%= j render 'layouts/shared/error_messages' %>");

//hide form
  $('#question_form-edit-wrapper').toggleClass('hidden');

//remove alert
  $("form .alert").remove();

  ItemToggle($('.script-item-toggle'));

<% end %>

