var form = $('#answer-form' + '<%= @answer.id %>');

<% if @answer.errors.present? %>
  form.prepend('<%= j render 'layouts/shared/error_form', object: @answer %>');
<% else %>
$('#answer-' + <%= @answer.id %>).replaceWith(
    "<div class='answer-rendered'><%= j render partial: 'answers/answer_l_line', locals: {object: @answer}%></div>");
  $("#headerFlash").html("<%= j render 'layouts/shared/error_messages' %>");
  $(form).toggleClass('hidden');
  $("form .alert").remove();
<% end %>

